.bookrow {
  margin-top: 30px;
}

body {
  background-color: sienna;
}

.bookcover {
  position: relative;
}

.hoverpic {
  opacity: 1;
  display: block;
  transition: .4s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  justify-content: center;
}

.bookcover:hover .middle{
  opacity: 1;
}

.bookcover:hover .hoverpic{
  opacity: .3s;
}



