.bookrow {
  margin-top: 30px;
  overflow-x: auto;
}


.bookContainer {
  margin-left: 10px;
  margin-right: 10px;
  z-index: 8;
}

.bookcover {
  position: relative;
  padding: 2;
  margin:20px,10px,20px,;
}

html, body {
  background-image: url("https://i.ibb.co/rkNWrgL/bookcase-bg.jpg");
  height: 100%;
  background-size: cover;
}

.hoverpic {
  opacity: 1;
  display: block;
  transition: .4s ease;
  backface-visibility: hidden;
  
}

.polygon {
clip-path:polygon(6% 8%, 3% 28%, 3% 71%, 97% 72%, 97% 28%, 94% 8%);
background-color: #753d13;
width: auto;
height: 20px;
z-index: 1;
}

@media screen and (max-width: 600px) {
  .polygon{
    visibility: hidden;
    display: none;
  }
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bookcover:hover .middle{
  opacity: 1;
}

.box {
  padding: 3;
  height: 200px;
  background-color: transparent;
  min-width: fit-content;
}

.label {
  color:#FAFBEB;
}

.field {
  background-color: #343a40;
  padding: 20px;
  border-radius: 10px;
}





/* does this help?? idk */





