.bookrow {
  margin-top: 30px;
  overflow-x: auto;
}

.bookrow::-webkit-scrollbar {
  color: transparent;
}

.bookrow::-webkit-scrollbar-thumb {
  background-color: #48C774;
  border-radius: 20%;
}
.bookrow::-webkit-scrollbar-thumb:hover {
  background-color: #36B161;
}

.bookContainer {
  margin-left: 10px;
  margin-right: 10px;
  z-index: 8;
}

.bookcover {
  position: relative;
  padding: 0;
  margin: 0;
}

html,
body {
  background-image: url('https://i.ibb.co/rkNWrgL/bookcase-bg.jpg');
  height: 100%;
  background-size: cover;
}

.browsehero {
  text-align: center;
  justify-content: center;
}



.hoverpic {
  opacity: 1;
  display: block;
  transition: 0.4s ease;
  backface-visibility: hidden;
}

.polygon {
  clip-path: polygon(5% 8%, 3% 28%, 3% 71%, 97% 72%, 97% 28%, 95% 8%);
  background: linear-gradient(to bottom, #b99c86, #753d13 32% 100%);
  width: auto;
  height: 80px;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .polygon {
    visibility: hidden;
    display: none;
  }
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bookcover:hover .middle {
  opacity: 1;
}

.box {
  height: 200px;
  background-color: transparent;
  min-width: fit-content;
}



.label {
  color: #fafbeb;
}

.nearby {
  margin-top: 50px;
}

/* //for search form feature, in development */
/* .field {
  border-radius: 10px;
  background: #343a40;

  padding: 20px;
} */


